html{
    background-color: black;
    
}
#great{
    font-family: "Agbalumo", serif;
    text-align: center;
    color: beige;
    margin-top: 40px;
    font-size: 14pt;
    font: weight 300px;
}
.pic{
    border: 5px solid white;
}
h1{
    font-size: 2em;
}